@import "css/footer-header.css";

@import "css/picture-grid.css";
@import "css/canvas-screen.css";
@import "css/aboutSec.css";

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background-color: #ffff;
}

/* SETUP */

/* VARS */


:root{

    --clr-header-footer:#ff7f00;
    --clr-hover-on:#040a2c;
    --clr-canvas-bgc:#1a1f3f;


}


/* BASE */

/* typegraphy */

@font-face{
    font-family: montserrat;
    src:url("/DESIGN/Fonts/Montserrat-Regular.ttf")

}
@font-face{
    font-family: Montserrat - Thin;
    src:url("/DESIGN/Fonts/Montserrat-Thin.ttf")

}



/* basics */

html{
    font-family:montserrat, Arial, Helvetica, sans-serif ;
    font-size: 19px;
}

img{
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a, a:hover{
    text-decoration: none;
}

/* layouts */
.main-layout { 
    text-align: center;
    border: rgb(220,220,220,50%) solid 1px
}

.main-layout >*{ 
    padding: 0 3.125em;
    margin-left: auto;
    margin-right: auto;
}

/* COMPONENTS */

/* search bar */

.search-option{
    /* min-height: 6.25em; */
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    height:max-content;
    /* max-height:7.375em ; */
  
    
}
.serach-text{
    border-bottom: #040a2c 2px solid;
    width: fit-content;
    padding: 5px;
    height: inherit;
    overflow-x: visible;
}

.serach-text img{
    width: 1em;
    height: 1em;
}

#inputText::placeholder{
    font-size: 19px;
}

input{
    font-size: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

.searchWords{
    align-items: center;
    justify-content: flex-end;
    max-height:7.375em ;
}

.fast-search{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:4em 0 0 0 0;
    overflow-y: hidden;
}

.fast-search.openSearch{
    overflow-y: visible;
    grid-template-rows:4em;
    margin-bottom: 2em;
}

.searchWords{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fast-search h1{
    display: block;
    justify-content: center;
    margin: auto 0;
    /* text-align: center; */
}

.moreOption{
    display: flex;
    font-size: 1em;
    text-decoration: underline;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    z-index: 999;
}





.keyWords{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 1em;
}



/* HELPERS */

.flex{
    display: flex;
}

.flex.justify-content{
    justify-content:center;
}

.flex.align-items{
    align-items: center;
}

.flex.flex-direction{
    flex-direction:column;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@media (max-width: 1200px) {

    .fast-search{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows:4em 0 0 0 0;
        overflow-y: hidden;
    }
    
}

@media (max-width: 1080px) {
    .canvas-container.canvasOpen{
        flex-direction: column-reverse;
    }

    .main-canvas img {
        width: 100%;
    }

    .fast-search{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:4em 0 0 0 0;
        overflow-y: hidden;
    }
    
}

@media (max-width: 860px) {

    .fast-search{
        grid-template-columns: 0;
        grid-template-rows:0;
        overflow-y: hidden;
    }

    .search-option{
        flex-wrap: wrap;
    }
    .fast-search.openSearch{
        overflow-y: visible;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:4em;
        margin-bottom: 2em;

    }

    .searchWords{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content:center;
    }
    
}

@media (max-width: 600px) {

    .canvas-container.canvasOpen>*{
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
    }

}


@media (max-width: 500px) {

    html, body {
        overflow-x:hidden;
        height:100%;
      }

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-container.canvasOpen{
    display: none;
}

@media  (max-width: 1000px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        overflow-x:hidden ;

    }


}

/* Header */

.main-header{
    display: flex;
    padding: 0 3.125em;
    background-color: var(--clr-header-footer);
}

.main-header>*{
    background-color: var(--clr-header-footer);
}

.logo{
    background-image: url("/DESIGN/LOGO/LOGO.png");
    align-self: center;
    width: 8.3125rem;
    height: 1.1578rem;

}

.main-header ul{
    background-color: inherit
}

.main-header ul li{
    background-color: inherit;
    align-self: center;
    color: rgb(185 183 183);
}


.main-header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.125rem;
    padding: 0 0.9375em;
    background-color: var(--clr-header-footer);
    color: #ffff;
}

/* FOOTER */

footer{
    background-color: var(--clr-header-footer);
    height: 12.9375em;
    border: #040a2c solid 1px;
}

footer>*{
    background-color: var(--clr-header-footer);
    color: #ffff;
}

footer small{

    margin-top: 1em;
    font-weight: 400;
    font-family: "Montserrat - Thin";

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-container.canvasOpen{
    display: none;
}

@media  (max-width: 1000px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        overflow-x:hidden ;

    }


}
    
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-container.canvasOpen{
    display: none;
}

@media  (max-width: 1000px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        overflow-x:hidden ;

    }

}


@font-face {
    font-family: fa;
    src: url("/DESIGN/Fonts/font-awesome/fa-brands-400.ttf");
}

/* font awsome */

.fa::before {
    font-family: fa;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}
.fa.linkedin::before {
    content: "\f0e1";
}


.aboutSec{
    display: flex;
    margin: 0 9.625em;
    margin-top:4.8125em ;
    margin-bottom:10.4375em ;
    justify-content: center;
    align-items: center; 
    max-height: 23.75em; 
}

.aboutImg{
    position: relative;
    border-radius: 50%;
    max-width:20.125rem;
    max-height: 23.75em;
    width: 90%; 
    height: inherit;
    aspect-ratio: 1/1;
    flex-shrink: 2;
}

.wordAndContact{
    margin-left:2.5em ;
    text-align: start;
}
.wordAndContact article{
    margin-bottom:3.5em ;
}



.wordAndContact h1{
    font-size: 700;
    font-size: 1.3157em;
}
.social-madia li{
    display: flex;
    /* background-color: var(--clr-header-footer); */
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.social-madia a {
    width: 40px; 
    height: 40px;
    /* /* align-items: center; */
    justify-content: center;
    background-color: var(--clr-header-footer);
    font-size: 1.6875em;
    margin-right:0.5625em ;
    color: #ffff;
    text-decoration: none; 
    border-radius: 25%;

}


@media (max-width: 1060px) {

    .aboutImg{
        /* max-width:60%; */
        padding: 2em;
    }

    .aboutSec{
        margin-top:4.8125em ;
        margin-bottom:10.4375em ;

    }

}







