.canvas-container{
    display: none;
    position: relative;
    /* top: 0; */
}

.canvas-container.canvasOpen{
    display: grid;
    /* position: relative; */
    grid-template-columns: 1fr 1fr;
    height: 650px;
    background-color: #e3e3e3;
    padding: 1.625em 3.125em;


}



.controlButs{
    grid-area: 1/2/3/3;
    display: grid;

    grid-template-columns: repeat(5, 3.75em);
    grid-template-rows: repeat(7, 3.75em);
    gap: 0.625em;
    background-color: aqua;
    align-content: center;
    justify-content: center;

}

.paintCanvas{
    grid-area: 1/1/3/2;
    background-color: bisque;
    border: 1px solid blue;
    width: 100%;
    height: 100%;
}

.controlButs>*{
    border-radius: 15%;
    padding: 1em;
    align-items: center;   
}

.imojiCont>*{
    font-size: 2em;
}

#textAdd{
    grid-area: 1/1/2/-1;
}

#switchRow{
    grid-area: 2/2/3/3;

}

#addRow{
    grid-area: 2/3/3/4;
}
#trash{
    grid-area: 2/4/3/5;
}


#increasFont{
    grid-area: 3/1/4/2;
}
#decreFont{
    grid-area: 3/2/4/3;
}
#alignLeft{
    grid-area: 3/5/4/6;
}
#alignCenter{
    grid-area: 3/4/4/5;
}
#alignRigth{
    grid-area: 3/3/4/4;
}

#impact{
    grid-area: 4/1/5/4;
}
#impactCol{
    grid-area: 4/4/5/5;
}

#impact-pelleta{
    grid-area: 4/4/5/5;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;

}


#fontCol{
    grid-area: 4/5/5/6;
}

#font-pelleta{
    grid-area: 4/5/5/6;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.imojiCont{
    grid-area: 5/1/7/-1;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#shearCanvas{
    grid-area: -2/-3/-1/-1;
}









