.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 10px;
}

.grid-container.canvasOpen{
    display: none;
}

@media  (max-width: 760px){
    .grid-container{
        grid-template-columns: 200px 200px;
        overflow-x:hidden ;
    }
}
    



