.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-container.canvasOpen{
    display: none;
}

@media  (max-width: 1000px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        overflow-x:hidden ;

    }


}
    



