/* search bar */

.search-option{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    height:max-content;    
}
.serach-text{
    border-bottom: #040a2c 2px solid;
    width: fit-content;
    padding: 5px;
    height: inherit;
    overflow-x: visible;
}

.serach-text img{
    width: 1em;
    height: 1em;
}

#inputText::placeholder{
    font-size: 19px;
}

input{
    font-size: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

.searchWords{
    align-items: center;
    justify-content: flex-end;
    max-height:7.375em ;
}

.fast-search{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:4em 0 0 0 0;
    overflow-y: hidden;
}

.fast-search.openSearch{
    overflow-y: visible;
    grid-template-rows:4em;
    margin-bottom: 2em;
}

.searchWords{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fast-search h1{
    display: block;
    justify-content: center;
    margin: auto 0;
}

.moreOption{
    display: flex;
    font-size: 1em;
    text-decoration: underline;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    z-index: 999;
}

.keyWords{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 1em;
}

@media (max-width: 1200px) {

    .fast-search{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows:4em 0 0 0 0;
        overflow-y: hidden;
    }
    
}


@media (max-width: 1080px) {
    .fast-search{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:4em 0 0 0 0;
        overflow-y: hidden;
    }
    
}

@media (max-width: 860px) {

    .fast-search{
        grid-template-columns: 0;
        grid-template-rows:0;
        overflow-y: hidden;
    }

    .search-option{
        flex-wrap: wrap;
    }
    .fast-search.openSearch{
        overflow-y: visible;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:4em;
        margin-bottom: 2em;

    }

    .searchWords{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content:center;
    }
}


