@import "/SITE/css/footer-header.css";

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background-color: #ffff;
}

/* SETUP */

/* VARS */


:root{

    --clr-header-footer:#ff7f00;
    --clr-hover-on:#040a2c;
    --clr-canvas-bgc:#1a1f3f;


}


/* BASE */

/* typegraphy */

@font-face{
    font-family: montserrat;
    src:url("/DESIGN/Fonts/Montserrat-Regular.ttf")

}
@font-face{
    font-family: Montserrat - Thin;
    src:url("/DESIGN/Fonts/Montserrat-Thin.ttf")

}


/* basics */

html{
    font-family:montserrat, Arial, Helvetica, sans-serif ;
    font-size: 19px;
}

img{
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a, a:hover{
    text-decoration: none;
}

/* layouts */
.main-layout { 
    text-align: center;
    border: rgb(220,220,220,50%) solid 1px
}

.main-layout >*{ 
    padding: 0 3.125em;
    margin-left: auto;
    margin-right: auto;
}

/* COMPONENTS */

/* search bar */









/* HELPERS */

.flex{
    display: flex;
}

.flex.justify-content{
    justify-content:center
}

.flex.align-items{
    align-items: center;
}

.flex.flex-direction{
    flex-direction:column;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

